<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.studio.auth.dal.mysql.PeachFarmerMapper">
    <resultMap id="integerResultMap" type="java.lang.Integer"/>

    <select id="findAllCropArea" resultType="java.lang.Integer" resultMap="integerResultMap">
        SELECT crop_area
        FROM peach_farmer
    </select>
    <select id="findAllCropCount" resultType="java.lang.Integer" resultMap="integerResultMap">
        SELECT crop_count
        FROM peach_farmer
    </select>
    <select id="findAllVillageCropArea" resultType="java.lang.Integer" resultMap="integerResultMap">
        SELECT crop_area
        FROM peach_farmer
        WHERE peach_farmer.cooperation_id IS NULL
    </select>
    <select id="findAllCooperationCropArea" resultType="java.lang.Integer" resultMap="integerResultMap">
        SELECT crop_area
        FROM peach_farmer
        WHERE peach_farmer.village_id IS NULL
    </select>

</mapper>