<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.studio.auth.dal.mysql.PlantsMapper">

    <insert id="insertAndGetId" useGeneratedKeys="true" parameterType="io.studio.auth.dal.dataobject.PlantsDO"
    keyProperty="plantsDO.plantsId">
        INSERT INTO plants(plant_name)
        VALUES (#{plantsDO.plantName})
    </insert>
</mapper>