<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.studio.course.dal.mysql.OnlineCourseMapper">

    <insert id="insertAndGetId" parameterType="io.studio.course.dal.mysql.OnlineCourseMapper" useGeneratedKeys="true"
            keyProperty="courseDO.courseId">
        INSERT INTO online_course(course_id, course_name, course_url, description, category_id, expert_id)
        VALUES (#{courseDO.courseId}, #{courseDO.courseName}, #{courseDO.courseUrl},
                #{courseDO.description}, #{courseDO.categoryId}, #{courseDO.expertId})
    </insert>

</mapper>