<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.studio.mall.dal.mysql.OrderMapper">
    <insert id="insertAndGetId" parameterType="io.studio.mall.dal.dataobject.OrderDO" useGeneratedKeys="true"
            keyProperty="orderDO.orderId">
        INSERT INTO orders(user_id, total_amount, status, coupon_code, transaction_id, address_id)
        VALUES ( #{orderDO.userId}, #{orderDO.totalAmount}, #{orderDO.status}
               , #{orderDO.couponCode}, #{orderDO.transactionId}, #{orderDO.addressId})
    </insert>

    <select id="getOrderByOrderId" resultType="io.studio.mall.dal.dataobject.OrderDO">
        SELECT order_id,
               user_id,
               total_amount,
               status,
               created_at,
               coupon_code,
               transaction_id,
               address_id
        FROM orders
        WHERE order_id = #{orderId}
    </select>


</mapper>